@import 'joqd.min.css';

.full-height {height: 100%}
.full-width {width: 100%}
.padding {padding: 1.2rem}

header {
    background: #e5aa61;
    margin: 0 auto 30px;
    position: relative;
    display: inline-block;
    width: 100%;
}

header .wave {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
header .wave svg {
    display: block;
    overflow: hidde;
}

header nav {
    position: relative;
    z-index: 10;
    margin: 30px auto 0;
    padding: 0 25px;
    height: 100px;
    border-radius: 5px;
    -webkit-box-shadow: 0 10px 30px rgba(50,50,93,.12), 0 -1px 4px rgba(0,0,0,.06);
    box-shadow: 0 10px 30px rgba(50,50,93,.12), 0 -1px 4px rgba(0,0,0,.06);
}

header nav a {
    display: block
}

header nav img {
    display: block;
    width: 144px; height: auto;
}


.preview {
    top: 0; right: 0;
    width: 100%; height: 100vh;
    margin-top: -160px;
    padding: 160px 0 32px;
}
.preview .laptop-wrapper {
    display: inline-block;
    position: relative;
    margin: 40px 0 -40px;
}
.preview .laptop-wrapper .laptop {
    height: auto;
    display: block;
}
.preview .laptop-wrapper * {
    user-select: none;
}
.preview .laptop-wrapper .sticker-wrapper{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}


.stickers-warpper {
    position: relative;
}
.stickers-warpper:before {
    content: '';
    position: absolute;
    right: 0; top: 0; left: 0;
    height: 2rem;
    z-index: 1;
    background: -moz-linear-gradient(top, rgba(236,239,241,1) 0%, rgba(236,239,241,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(236,239,241,1)), color-stop(100%, rgba(236,239,241,0)));
    background: -webkit-linear-gradient(top, rgba(236,239,241,1) 0%, rgba(236,239,241,0) 100%);
    background: -o-linear-gradient(top, rgba(236,239,241,1) 0%, rgba(236,239,241,0) 100%);
    background: -ms-linear-gradient(top, rgba(236,239,241,1) 0%, rgba(236,239,241,0) 100%);
    background: linear-gradient(to bottom, rgba(236,239,241,1) 0%, rgba(236,239,241,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eceff1', endColorstr='#eceff1', GradientType=0 );
}
.stickers-warpper:after {
    content: '';
    position: absolute;
    right: 0; bottom: 0; left: 0;
    height: 2rem;
    background: rgba(236,239,241,0);
    background: -moz-linear-gradient(top, rgba(236,239,241,0) 0%, rgba(236,239,241,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(236,239,241,0)), color-stop(100%, rgba(236,239,241,1)));
    background: -webkit-linear-gradient(top, rgba(236,239,241,0) 0%, rgba(236,239,241,1) 100%);
    background: -o-linear-gradient(top, rgba(236,239,241,0) 0%, rgba(236,239,241,1) 100%);
    background: -ms-linear-gradient(top, rgba(236,239,241,0) 0%, rgba(236,239,241,1) 100%);
    background: linear-gradient(to bottom, rgba(236,239,241,0) 0%, rgba(236,239,241,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eceff1', endColorstr='#eceff1', GradientType=0 );
}
.select-sticker {
    position: relative;
}
.select-sticker small {
    line-height: 1;
    font-size: 10px;
    padding: 2px 8px 5px;
    position: absolute;
    top: -6px; left: -8px;
    z-index: 2;
}
.select-sticker img {
    filter: drop-shadow(1px 1px 1px #00000030);
    transition: all .3s;
    cursor: pointer;
}
.select-sticker img:hover {
    transform: scale(1.1);
}

.no-mobile {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 9999;
    display: none;
}

@media screen and (max-width:991px) {
    .preview {
        display: none;
    }
    .no-mobile {
        display: block;
    }
}