* {
    box-sizing: border-box
}

body {
    margin: 0;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    @media screen and (min-width: $lg) {
        max-width: 1200px;
    }
}

.row,
.column {
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.align-content-middle {
    align-content: center;
    align-items: center;
}

.align-content-center {
    justify-content: center;
}

.align-end {
    align-self: flex-end;
}

.all-auto {
    flex-grow: 1;
}

.desktop-5 {
    flex: 0 0 41.6667%;
    max-width: 41.6667%;
}

.desktop-7 {
    flex: 0 0 58.3333%;
    max-width: 58.3333%;
}

.desktop-10 {
    flex: 0 0 83.3333%;
    max-width: 83.3333%;
}
