.padding {
    padding: 1.5rem;
}

.double-padding {
    padding: 3rem;
}

.half-padding {
    padding: 0.75rem;
}

.no-padding {
    padding: 0;
}

.gutter {
    @util padding(1.5rem null);
}

.double-gutter {
    @util padding(3rem null);
}

.half-gutter {
    @util padding(0.75rem null);
}

.gap {
    @util padding(null 1.5rem);
}

.double-gap {
    @util padding(null 3rem);
}

.half-gap {
    @util padding(null 0.75rem);
}

.no-gap {
    @util padding(null 0);
}

.no-left-gap {
    padding-left: 0;
}

.no-right-gap {
    padding-right: 0;
}

.no-margin {
    margin: 0;
}

.negative-margin {
    @util margin(null -1.5rem);
}

.no-list {
    @util reset-list;
    -webkit-padding-start: 0;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.no-overflow {
    overflow: hidden;
}

.no-select {
    cursor: default;
    user-select: none;
}

.hidden {
    display: none;
}