.padding {
    padding: 10px;
}

.double-padding {
    padding: 20px;
}

.half-padding {
    padding: 5px;
}

.no-padding {
    padding: 0;
}

.gutter {
    @util padding(10px null);
}

.double-gutter {
    @util padding(20px null);
}

.half-gutter {
    @util padding(5px null);
}

.gap {
    @util padding(null 10px);
}

.double-gap {
    @util padding(null 20px);
}

.half-gap {
    @util padding(null 5px);
}

.no-gap {
    @util padding(null 0);
}

.no-left-gap {
    padding-left: 0;
}

.no-right-gap {
    padding-right: 0;
}

.no-margin {
    margin: 0;
}

.negative-margin {
    @util margin(null -10px);
}

.no-list {
    @util reset-list;
    -webkit-padding-start: 0;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.no-overflow {
    overflow: hidden;
}

.no-select {
    cursor: default;
    user-select: none;
}

.pointer {
    cursor: pointer;
}

.hidden {
    display: none;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.relative {
    position: relative;
}