.v-lazy-image {
    &.blur {
        filter: blur(5px);
        transition: filter 1.6s;
        will-change: filter;
    }
    &-loaded {
        &.blur {
            filter: blur(0);
        }
    }
}