@import '../vars/all.css';
@import url('https://fonts.googleapis.com/css?family=Lalezar');

html {
    font-size: 62.5%;
}

* {
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: Vazir;
	font-style: normal;
	font-weight: 300;
	src: url('../../fonts/Vazir/Vazir-Thin.woff');
}

@font-face {
	font-family: Vazir;
	font-style: normal;
	font-weight: normal;
	src: url('../../fonts/Vazir/Vazir.woff');
}

@font-face {
	font-family: Vazir;
	font-style: normal;
	font-weight: 500;
	src: url('../../fonts/Vazir/Vazir-Medium.woff');
}

@font-face {
	font-family: Vazir;
	font-style: normal;
	font-weight: Bold;
	src: url('../../fonts/Vazir/Vazir-Bold.woff');
}

@font-face {
	font-family: Vazir;
	font-style: normal;
	font-weight: 900;
	src: url('../../fonts/Vazir/Vazir-Black.woff');
}

body, input{
    text-align: right;
    font-family: Vazir, arial;
    font-size: 1.6rem;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: Lalezar, arial;
}

.link,
.link.code {
	color: $dark-grey;
	transition: color $smooth-transition;
	&:hover {
		color: $sazito;
	}
}

.no-link {
	color: inherit;
	transition: color $smooth-transition;
	&:hover {
		color: $sazito;
	}
}

.link,
.no-link {
	text-decoration: none !important;
	&:focus {
		outline: none;
	}
}

code,
.code {
	font-size: 85%;
	color: inherit;
}

code.no-resize,
.code.no-resize {
	font-size: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}